- var top_img = page.top_img || theme.post_meta.top_img || theme.top_img || config.top_img || true
- var bg_img = top_img && top_img !== true ? `background-image: url(${top_img})` : ''
- var flag = top_img === true ? 'no-bg' : ''
nav#nav(style=bg_img class=flag)
  include ../header.pug
  #site-info
    #site-title= config.title
    #site-sub-title= theme['404Text'] || '페이지를 찾을 수 없습니다'
    #site-404-home
      p 요청하신 페이지가 존재하지 않거나 이동되었습니다.
      a(href='/') 홈으로 돌아가기
      p.redirect-notice 5초 후 자동으로 홈으로 이동합니다.
    script.
      setTimeout(function() { window.location.href = '/'; }, 5000);
    if(theme.social)
      #site-social-icons
        each url, icon in theme.social
          a.social-icon(href=url target="_blank" rel="noreferrer noopener nofollow")
            i(class="fa-" + icon)
